<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h2>{{ showUser.user.username }}</h2>
      <h4>Reviews of Restaurants Visited</h4><br>

      <div class="panel panel-default" ng-repeat="review in showUser.user.reviews | orderBy: 'name'">
        <div class="panel-body">
          <h3><a href="#" ui-sref="restaurant({id: review.restaurant_id})">{{review.restaurant_name}}</a></h3>
          <h4>"{{review.review_title}}"</h4>
          <p>{{review.review_date}}</p><br>
          <p>{{review.review_text}}</p><br>
          <p>Rating: {{review.review_score}}/5</p>
          <a href="#" ui-sref="editreview({id: review.id})">Edit Details</a>
        </div>

      </div>
    </div>
  </div>
</div>

