<h1>Edit Your Review</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-6">
  
    <form name="form"  ng-submit="editReview.editReview()">

      <label for=”review_title”>Review Title</label><br>
      <input type = "text" name="review_title" minLength="10" required="required" ng-model="newReview.review.review_title"><br>

      <label for=”review_date”>Date</label><br>
      <input type = "date" name="review_date" ng-model="newReview.review.review_date"><br>

      <label for=”review_score”>Rating</label><br>
      <input type = "integer" name="review_score" min="1" max="5" ng-model="newReview.review.review_score"><br>

      <label for=”review_text”>Review</label><br>
      <textarea rows="4" cols="50" name="review_text" minLength="30" required="required" ng-model="newReview.review.review_text"></textarea><br>

      <!-- Error Messages with ng-messages -->
      <div ng-messages="form.review_title.$error" ng-if="form.review_title.$touched">
        <div ng-message="required">Please add a title</div>
        <div ng-message="minlength">Title should be at least 10 characters</div>
      </div>

      <div ng-messages="form.review_text.$error" ng-if="form.review_text.$touched">
        <div ng-message="required">Review can't be blank.</div>
        <div ng-message="minlength">Review should be at least 30 characters</div>
      </div>

      <div ng-messages="form.review_score.$error">
        <div ng-message="min">Enter a score between 1-5.</div>
        <div ng-message="max">Enter a score between 1-5.</div>
      </div>

      <input type="submit" class="btn btn-primary" value="Submit">

    </form>
    </div>
    
  </div>
</div>