t.integer "user_id"
t.integer "restaurant_id"

<h1>Write a review</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-6">
  
    <form name="form"  ng-submit="newReview.addReview()">

      <label for=”review_title”>Review Title</label>
      <input type = "text" name="review_title" minLength="10" required="required" ng-model="newReview.review.review_title"><br>

      <label for=”review_date”>Date</label>
      <input type = "date" name="review_date" ng-model="newReview.review.review_date"><br>

      <label for=”review_text”>Review</label>
      <input type = "text" name="review_text" minLength="150" required="required" ng-model="newReview.review.review_text"><br>

      <label for=”review_score”>Rating</label>
      <input type = "integer" name="review_score" min="1" max="5" ng-model="newReview.review.review_score"><br>
      
      <!-- Error Messages with ng-messages -->
      <div ng-messages="form.review_title.$error" ng-if="form.review_title.$touched">
        <div ng-message="required">Please add a title</div>
        <div ng-message="minlength">Title should be at least 10 characters</div>
      </div>

      <div ng-messages="form.review_text.$error" ng-if="form.review_text.$touched">
        <div ng-message="required">Review can't be blank.</div>
        <div ng-message="minlength">Review should be at least 150 characters</div>
      </div>

      <div ng-messages="form.review_score.$error">
        <div ng-message="min">Enter a score between 1-5.</div>
        <div ng-message="max">Enter a score between 1-5.</div>
      </div>

      <input type="submit" class="btn btn-primary" value="Submit">

    </form>
    </div>

    <div class="col-xs-4 col-sm-6">
      <h3>Live Preview</h3>
        {{newRestaurant.restaurant.name}}<br>
        {{newRestaurant.restaurant.address}}<br>
        {{newRestaurant.restaurant.city}}<br>
        {{newRestaurant.restaurant.state}}<br>
        {{newRestaurant.restaurant.postal_code}}<br>
        {{newRestaurant.restaurant.phone}}<br>
        {{newRestaurant.restaurant.price}}<br>
    </div>
    
  </div>
</div>