<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-6">
      <div class="panel panel-default">
        
        <div class="panel-body">
          <h3>"{{ showReview.review.review_title }}"</h3>
          <p>{{ showReview.review.review_date}}</p>
          <p></p>>{{ showReview.review.username}}</p>
          <p>{{ showReview.review.restaurant_name}}</p>
          <p>{{ showReview.review.review_text }}</p>
          <p>Score: {{ showReview.review.review_score }}/5</p>
          <p><a href="#" ui-sref="editreview({id: showReview.review.id})">Edit</a></p>
        </div>

      </div>
    </div>
  </div>
</div>
