<h1>Add a New Restaurant </h1>
<form validate ng-submit=”restaurant.addRestaurant()”>
 <label for=”name”>Name</label>
 <input type='text' ng-model='restaurant.restaurant.name' name=”name”>

 <label for=”address”>Address</label>
 <input type="text" ng-model="restaurant.restaurant.address" name=”address”>

 <label for=”city”>City</label>
 <input type= "text" ng-model="restaurant.restaurant.city" name=”city”>

 <label for=”state”>State</label>
 <input type="text" ng-model="restaurant.restaurant.state" name=”state”>

 <label for=”postal_code”>Zip Code</label>
 <input type="text" ng-model="restaurant.restaurant.postal_code" name=”postal_code”>

 <label for=”price”>Price</label>
 <input type="text" ng-model="restaurant.restaurant.price" name=”price”>

 <input type=”submit” value=”Add”>
</form>