<a href="#/new">Add a New Restaurant</a>

<h3>All Saved Restaurants</h3>
Search by: <input type="text" placeholder="Name" ng-model="searchRestaurants.name" />
  or   <input type="text" placeholder="City" ng-model="searchRestaurants.city" />

<ul>
  <li ng-repeat="restaurant in restaurants.restaurants | orderBy: 'name' | filter: searchRestaurants">
    <h3>{{ restaurant.name}} - {{ restaurant.city }} -
    <a href="#" ui-sref="restaurant({id: restaurant.id})">See more</a> </h3>
     </li>
  </li>
</ul>


<div ui-view></div>