<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>{{ showRestaurant.restaurant.name }}</h2><br>
          <h4><b>Address:</b> {{ showRestaurant.restaurant.address}}</h4>
          <h4><b>City:</b> {{ showRestaurant.restaurant.city}}</h4>
          <h4><b>State:</b> {{ showRestaurant.restaurant.state}}</h4>
          <h4><b>State:</b> {{ showRestaurant.restaurant.postal_code}}</h4>
          <h4><b>Price Level:</b> {{ showRestaurant.restaurant.price}}</h4>
          <h4><b>Phone:</b> {{ showRestaurant.restaurant.phone}}</h4>
          <h4><a href="#" ui-sref="edit({id: showRestaurant.restaurant.id})">Edit</a></h4>
        </div>
      </div>
    </div>

    <div class="col-xs-4 col-sm-6">
      <div class="address"> {{ showRestaurant.restaurant.address}} {{showRestaurant.restaurant.city}} {{ showRestaurant.restaurant.state}}</div>
        <div class="mapDiv">
          <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAzp93o1OZ_zhsxTKUZ82Jwff2KCcjSyBo&q=query" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Trying out jQuery Goog map ex -->
<script>

    $(document).ready(function(){
      var addressText = $(".address").text();
      $(".mapDiv").text().replace("query", addressText);
    });

</script>